html{
  padding: 0;
  margin: 0;
  height:100% !important;
}

body {
  height:100% !important;
  padding: 0;
  margin: 0;
  min-height:100% !important;
  flex-direction: column;
  position:relative;
  display: flex;
  width:100%;
  overflow:auto;
  resize: horizontal;
  min-width: 250px;
}

h2 {margin-top:10px;}



/* Body */


#mainpage{
  height:100%;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  width:100%;
}

/* Navbar global */

.navbar{
  min-height: auto;
}


/* Tooltip */

.tooltip {
  pointer-events: none;
}

.tooltip > .tooltip-inner {
  pointer-events: none;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f5f5f5;
  border:1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  -moz-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color:#333;
  text-align: justify;
  margin-left: 0;
  max-width: 1000px;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #e3e3e3;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #e3e3e3;
}


/* Header */

div.container-fluid > nav > div > div > button{
    margin-left: 0;
    margin-right: 0;
    margin-top: 16%;
    margin-bottom: 0;

  }

#mainpage > nav {
  height: auto;
  padding: 0 5%;
  padding-bottom: 5px;
  position: relative;
  margin-bottom:0 !important;
  box-shadow: 0 -6px 7px -7px grey inset;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.navbar-header > span.navbar-brand {
  vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    width:auto;
    margin-left: 0 !important;
    padding:0;
}

#logo1{
  height: 5em;
}

#mainpage > nav > div.container-fluid{
  margin: 0 auto;
  max-width: 1200px;
  padding-right: 0;
  padding-left: 0;;
  display: contents !important;
  align-items: center;
  justify-content: space-evenly;
}

#topnavbar>li {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#topnavbar>li>a {
  transition-duration: 0.25s;
  line-height: 28px;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.2px;
  font-size: 18px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent !important;
}

#topnavbar>.active>a {
  text-decoration: underline !important;
}
#topnavbar>li>a:hover{
  text-decoration: underline !important;
}

#topnavbar{
  display: block;
  vertical-align: middle;
  padding-top: 5px;
}

/* Main */

/*questo becca tutti i div nella seconda navbar molti hannoun id! */


.tab-content>.active {
  height:100%;
}

#mainpage > div.container-fluid {
  padding-left:0;
  flex:1;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;

}

#mainpage > div.container-fluid > div{
  height:100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* toggle filter panel in the sidebar */

.toggle_well_link{
  display:flex;
  cursor:pointer;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.toggle_panel_text{
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
}

.toggle_panel{
  padding-top: 0 !important;
  display: flex;
  justify-content: space-between;
  margin-bottom:0;

}

.toggle_panel_line{
  border-radius: 2px;
  width: 15px;
  height: 4px;
  background-color: #808080;
  margin: 3px;
}

/* Home */

.home_wellpanel{
  margin-right:4em !important;
  margin-left:4em !important;
  display:flex;
  justify-content:center;
}

#home_title{
  line-height: 1.5;
  text-align: center;
  font-size:4vw;
}

#home_title_cont{
  justify-content: center;
  display: flex;
  align-items: center;
}

#linkapp:hover{
  text-decoration:underline !important;
}

#linkapp:active{
  text-decoration:underline !important;
}

#linkapp{
  font-weight: 500;
  letter-spacing: 2px;
  font-size:3.5vw !important;
  display:flex;
  justify-content:center;
  line-height:1.5 !important;
  transition-duration: 0.25s;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent !important;
}

/* About */

#about{
  width:100%;
  font-family: 'Open Sans', sans-serif !important;
  white-space: nowrap;
}

/* Footer */

#footertxt{
  color:#777;
}

#footer2{
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:0;
    width: 100%;
    box-shadow: 0 6px 5px -7px grey inset;
    height: 80px;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    text-align: center;
}

#footertxt_cont{
  width: 40%;
}


.logoContainerFooter{
   padding-top: 0;
   float: left;
}

.logoContainerFooter img {
   height: 70px;
}

/* Datatable */
.dataTables_filter{
  margin-right: 15px;
}

.dt-buttons{
  margin-left: 15px;
}

.dataTables_length{
  margin-left: 15px;
    margin-top: 3px;
}

div.dataTables_scrollHeadInner{
  padding:0;
}

table.display.dataTable.no-footer {
  width:100% !important;
}

div.dataTables_scroll {
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* seconda navbar */
/* nota: trovare selettori migliori per i tab */

.navbar-collapse{
  border:0;
}

#nav_cont_2 {
  height: 100%;
  padding-right:0 !important;
  padding-left:0 !important;
}

#nav_cont_2 > nav {
  margin-bottom: 5px !important;
}

#nav_cont_2 > nav > div > div.navbar-header {
 width: 24.5%;
 transition: width 0.2s ease-out 0s;
 display: flex;
 flex-direction: row-reverse;
 justify-content: flex-end;
}

#nav_cont_2 > nav > div > div.navbar-header > span.navbar-brand {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 22px !important;
}

#nav_cont_2 > nav > div > div.navbar-header > button {
  margin-left: 150%;
}

.toggleLine{
    border-radius: 2px;
    width: 70%;
    height: 4px;
    background-color: #808080;
    margin: 3px;
}

.toggleSidebar{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor:pointer;
  height:50px;
  width:60px;
}

/* Pagina overview main */
/* nota: trovare selettori migliori */

#nav_cont_2 > div.container-fluid {
  padding-right:0 !important;
  padding-left:0 !important;
  height:100%;
}

#nav_cont_2 > div.container-fluid > div.tab-content {
  height:100%;
}

#overview_container{
  padding-right: 15px;
  height:100%
}

.row{
  margin-right: 0;
  margin-left: 0;
}

#overview_container > div.row{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  height:100%;
}

/* Sidebar overview */

#sidebar {
  margin-bottom: 42px;
  height: auto;
  padding-right: 0;
}

#sidebar > div {
  height: 100%;
  width: 100%;
  padding-right:0;
  padding-left:0;
}

/* Input sidebar */

form.well{
  height:100%
}

div.file_side>div.well{
  padding-bottom: 2px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

div.file_side>div.well>div.collapse.in{
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom:5px;
}

div.file_side>div.well>div.collapse{
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom:0;
}

div.file_side>div.well>div.collapsing{
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom:0;
}

div.file_side>div.well>div>div{
  padding-top:5px;
  margin-bottom:0;
}

#GSP-fromfile_progress{
  margin-bottom:10px;
}
#GSP-fromfile2_progress{
  margin-bottom:10px;
}


/* Main tabset overview */
#colcol{
  margin-bottom: 10px;
  padding-right: 0;
  padding-left:0;
  flex: 1;
  /*height: 100%;*/
  width: 75%;
}

#colcol > div{
  padding:0;
  width: 100%!important;
  height: 100%;
}

#colcol > div > div > ul {
 margin-left:5px;
}

#colcol > div > div > div {
 margin-left:15px;
}

/* RESTYLE DATATABLE HEAD FILTERS/SEARCH */
/*.form-group.has-feedback {z-index:-1 !important;}*/
.dt-button-info{
  z-index:100 !important;
}

#datatables_buttons_info{
  z-index:100 !important;
}

.form-control{
  padding-right:5px!important;
  min-width: 60px;
}

td div:nth-of-type(2){
  display:none !important;
}

td[data-type = "integer"] {
  cursor: not-allowed;
}

td[data-type = "number"] {
  cursor: not-allowed;
}

td[data-type = "integer"] > div {
  pointer-events: none !important;
  background-color: #eee;
  opacity: 1;
}

td[data-type = "integer"] > div > input{
  pointer-events: none !important;
  color:transparent;
  font-size:0;
  background-color: #eee !important;
  opacity: 1 !important;
}

input[disabled]{
  color:transparent;
  font-size:0;
}

td[data-type = "number"] > div {
  pointer-events: none !important;
  background-color: #eee;
  opacity: 1;

}

td[data-type = "number"] > div > input {
  pointer-events: none !important;
  color:transparent;
  font-size:0;
  background-color: #eee !important;
  opacity: 1 !important;
}

#GSP-sidebar_tabset{
  display:none !important;
}

#topnavbar2 > li{
  min-width: 92px;
  text-align: center;
}

/* SCREEN OPTIONS */

@media screen and (max-width: 950px) {
  #sidebar{
    width:100%;
    margin-bottom: 20px;
  }
}
