html{
  height:100% !important;
  width:100%!important;
}

body{
  height:100% !important;
  width:100% !important;
}

h2 {margin-top:10px;}


/* Body */


#mainpage{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Navbar global */

.navbar{
  min-height: auto;
}


/* Tooltip */
/*questa sezione contiene lo styling per i tooltips*/
.tooltip {
  pointer-events: none;
}

.tooltip > .tooltip-inner {
  pointer-events: none;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f5f5f5;
  border:1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  -moz-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color:#333;
  text-align: justify;
  margin-left: 0;
  max-width: 1000px;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #e3e3e3;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #e3e3e3;
}

/* Header */
/*questa sezione contiene lo styling per l'header della pagina, anche quando collapsed*/

div.container-fluid > nav > div > div > button{
    margin-left: 0;
    margin-right: 0;
    margin-top: 16%;
    margin-bottom: 0;
  }

#mainpage > nav {
  overflow-x: clip;
  flex:0;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 0 !important;
  box-shadow: 0 -6px 7px -7px grey inset;
  background: white;
}

div.navbar-header > span.navbar-brand {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height:auto;
  width:auto;
  margin-left: 0 !important;
  padding:0;
}

#logo1{
  height: 5em;
}


#mainpage > nav > div.container-fluid > div.navbar-header{
  padding-left: 5%;
}

#mainpage > nav > div.container-fluid{
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#topnavbar>li {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#topnavbar>li>a {
  transition-duration: 0.25s;
  line-height: 28px;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.2px;
  font-size: 18px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent !important;
}

#topnavbar>.active>a {
  text-decoration: underline !important;
}
#topnavbar>li>a:hover{
  text-decoration: underline !important;
}

#topnavbar{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  vertical-align: middle;
  padding-top: 5px;
  justify-content: center;
  margin: 0;
}

/* Main */
/*styling per la parte centrale della pagina*/

.tab-content>.active {
  height:100%;

}

#mainpage > div.container-fluid {
  padding-left: 0;
  flex: 1;
  padding-right: 0;
  width: 100%;
  margin-top: 0 !important;
  margin-right: 0;
  margin-left: 0;
}

#mainpage > div.container-fluid > div{
  height: 100%;
  width: 100%;
}

/*Toggler Header*/
/* toggle filter panel in the sidebar */

.toggle_well_link{
  display:flex;
  cursor:pointer;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.toggle_panel_text{
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
}

.toggle_panel{
  padding-top: 0 !important;
  display: flex;
  justify-content: space-between;
  margin-bottom:0;
}

.toggle_panel_line{
  border-radius: 2px;
  width: 15px;
  height: 4px;
  background-color: #808080;
  margin: 3px;
}

/* Home */
/*styling pagina home*/

.home_wellpanel{
  margin-right:4em !important;
  margin-left:4em !important;
  display:flex;
  justify-content:center;
  overflow-x: clip;
}

#home_title{
  line-height: 1.5;
  text-align: center;
  font-size:4vw;
}

#home_title_cont{
  justify-content: center;
  display: flex;
  align-items: center;
}

#linkapp:hover{
  text-decoration:underline !important;
}

#linkapp:active{
  text-decoration:underline !important;
}

#linkapp{
  font-weight: 500;
  letter-spacing: 2px;
  font-size:3.5vw !important;
  display:flex;
  justify-content:center;
  line-height:1.5 !important;
  transition-duration: 0.25s;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent !important;
}

/* About */
/*styling pagina about*/
#about{
  width:100%;
  font-family: 'Open Sans', sans-serif !important;
  white-space: nowrap;
}

/* Footer */
/*styling del footer delle pagine*/

#footertxt{
  color:#777;
}

#footer2{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top:10px;
}

.footer {
  overflow-x: clip;
  margin-top: 10px;
  flex:0;
  z-index: 1000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom:0;
  width: 100%;
  box-shadow: 0 6px 5px -7px grey inset;
  height: 80px;
  background-color: #FFFFFF;
  text-align: center;
}

#footertxt_cont{
  width: 40%;
}

.logoContainerFooter{
  padding-top: 0;
  float: left;
}

.logoContainerFooter img {
  height: 70px;
}


/* seconda navbar */
/* navbar della pagina principale */

.navbar-collapse{
  border:0;
}

#nav_cont_2 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100%;
}

#nav_cont_2 > nav {
  margin-bottom: 0 !important;
  width: 100%;
  flex: 0;
  overflow-x: clip;
}

#nav_cont_2 > nav > div {
  padding-left: 0 !important;
  display: flex;
  width: 100%;
  max-width: 100vw;
  margin: 0;
}

#nav_cont_2 > nav > div > div.navbar-header {
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 25%;
  transition: width 0.2s ease-out 0s;
}

#nav_cont_2 > nav > div > div.navbar-header > span.navbar-brand {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 22px;
}

.toggleLine{
    border-radius: 2px;
    width: 70%;
    height: 4px;
    background-color: #808080;
    margin: 3px;
}

.toggleSidebar{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor:pointer;
  height:50px;
  width:60px;
}

/* Pagina overview main */
/* nota: trovare selettori migliori */

#nav_cont_2 > div.container-fluid {
  z-index: 0;
  margin-top: 5px !important;
  padding-right:0 !important;
  padding-left:0 !important;
  flex: 1;
  height: 100%;
  width:100%;
}


#nav_cont_2 > div.container-fluid > div.tab-content {
  height: 100%;
}

#overview_container{
  width: 100%;
  height: 100%;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

#overview_container > div.row{
  display: flex;
  height:100%;
  width:100%;
}

/* Sidebar overview */

#sidebar {
  min-width: 230px;
  z-index: 1000;
  background: #FFF;
  height: auto;
  padding-right: 0;
  max-width: 24.95vw;
  padding-left: 10px;
}

#sidebar > div > form {
  margin-bottom:0;
}

#sidebar > div {
  height: 100%;
  width: 100%;
  padding-right:0;
  padding-left:0;
}

/* Input sidebar */

form.well{
  height:100%
}

div.file_side>div.well{
  padding-left: 10px;
  padding-right: 10px;
}

div.file_side>div.well>div.collapse.in{
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom:5px;
}

div.file_side>div.well>div.collapse{
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom:0;
}

div.file_side>div.well>div.collapsing{
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom:0;
}

div.file_side>div.well>div>div{
  padding-top:5px;
  margin-bottom:0;
}

#GSP-SOM-fromfile_progress{
  margin-bottom:10px;
}
#GSP-GERM-fromfile2_progress{
  margin-bottom:10px;
}


/* Main tabset overview */
#colcol{
  overflow-x : clip;
  margin-bottom: 10px;
  margin-right: 0;
  padding-right:0;
  padding-left:0;
  flex: 1;
  height: 100%;
}

#colcol > div{
  padding:0;
  width: 100%!important;
  height: 100%;
}

#colcol > div > div > ul {
 margin-left:5px;
}

#colcol > div > div > div {
 margin-left:15px;
}
#colcol > div > div > div > div.tab-pane{
  width: 100%;
}

#tabcontainer{
  width: 100%;
}

/* Datatable */
/*changes in styiling to the datatables package, */
/*I changed the default header's filters and the cells' styling */



.dataTables_filter{
  margin-right: 15px;
}

.dt-buttons{
  margin-left: 15px;
}

.dataTables_length{
  margin-left: 15px;
  margin-top: 3px;
}

div.dataTables_scrollHeadInner{
  padding:0;
  width:100% !important;
}

table.display.dataTable.no-footer {
  width:100% !important;
}

div.dataTables_scroll {
  width:100%;
  padding-left: 10px;
}

.dt-button-info{
  z-index:100 !important;
}

#datatables_buttons_info{
  z-index:100 !important;
}

.form-control{
  padding-right:5px!important;
  min-width: 60px;
}

td div:nth-of-type(2){
  display:none !important;
}

td[data-type = "integer"] {
  cursor: not-allowed;
}

td[data-type = "number"] {
  cursor: not-allowed;
}

td[data-type = "integer"] > div {
  pointer-events: none !important;
  background-color: #eee;
  opacity: 1;
}

td[data-type = "integer"] > div > input{
  pointer-events: none !important;
  color:transparent;
  font-size:0;
  background-color: #eee !important;
  opacity: 1 !important;
}

input[disabled]{
  color:transparent;
  font-size:0;
}

td[data-type = "number"] > div {
  pointer-events: none !important;
  background-color: #eee;
  opacity: 1;

}

td[data-type = "number"] > div > input {
  pointer-events: none !important;
  color:transparent;
  font-size:0;
  background-color: #eee !important;
  opacity: 1 !important;
}

.even > td:hover{
  white-space: normal;
  overflow: visible !important;
  word-wrap: break-word;
  text-align:center !important;

}

.even > td{
  white-space: nowrap;
  text-align:center !important;
  overflow:hidden !important;
  text-overflow: ellipsis;
  max-width: 250px !important;
  min-width: 50px !important;

}
.odd > td:hover{
  white-space: normal;
  overflow: visible !important;
  word-wrap: break-word;
  text-align:center !important;
}

.odd > td {
  white-space: nowrap;
  text-align:center !important;
  overflow:hidden !important;
  text-overflow: ellipsis;
  max-width: 250px !important;
  min-width: 50px !important;
}

th {
  text-align:center !important;
  max-width: 250px !important;
  min-width: 50px !important;
}
thead > tr > td {
  max-width: 250px !important;
  min-width: 50px !important;
}

.dataTables_scrollFootInner{
  width: 100% !important;

}
.dataTables_scrollFootInner > table{
  margin-left:auto !important;
}
.dataTables_scrollFoot{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border: 0px;
  width: 100%;
  bottom: 0;
  position: sticky;
  background: #FFF;
  z-index: 101;
}

.dataTables_scrollHead{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: sticky !important;
  -webkit-position: sticky ;
  -moz-position: sticky;
  top:0;
  z-index: 99;
  background-color: #FFF;
}

.dataTables_scroll{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;}

.row_i{
  background: #FFF;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  text-align: right;
  justify-content: space-between;
  position:relative;
  z-index: 103;
}

.row_b{
  position: relative;
  z-index: 103;
  background: #FFF;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: right;
  justify-content: space-between;
}

div.row_b > div.dt-buttons{
  margin-left:0;
  padding-left: 10px;
  float: left;
}

.dataTables_paginate{
  right:0;
  background: #FFF;
  z-index: 99;

}
.dataTables_info{
  padding-left: 10px;
}

.dataTables_length{
  margin-left:0;
  padding-left: 10px;
}

.dataTables_filter{
  margin-right:0;
  padding-right: 10px;
  right: 0;
}

/*TABLE CONTAINERS*/
/*SOM table styling*/
#GSP-SOM-som_table{
  width: 100%;
  height: 100%;
}

#GSP-SOM-som_table > div{
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

#GSP-SOM-som_table > div > table > thead{
  top: 0;
  z-index: 100;
  background: #FFF;
}

#GSP-SOM-som_table > div > table > tfoot{
  bottom: 0;
  z-index: 100;
  background: #FFF;
}

#GSP-SOM-som_table > div > div > div.dataTables_scrollBody{
  overflow-x: auto !important;
}

#GSP-SOM-som_table > div > table{
  padding-right: 30px;
}

/*GERM table styling*/

#GSP-GERM-germ_table > div > table{
  padding-right: 30px;
}

#GSP-GERM-germ_table{
  width: 100%;
  height: 100%;
}

#GSP-GERM-germ_table > div{
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

#GSP-GERM-germ_table > div > table > thead{
  top: 0;
  z-index: 100;
  background: #FFF;
}

#GSP-GERM-germ_table > div > table > tfoot{
  bottom: 0;
  z-index: 100;
  background: #FFF;
}

#GSP-GERM-germ_table > div > div > div.dataTables_scrollBody{
  overflow-x: auto !important;
}


tfoot > tr {
  position: relative;
}

#GSP-sidebar_tabset{
  display:none !important;
}

#topnavbar2{
  margin-left: 6px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
}

#topnavbar2 > li{
  min-width: 92px;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}

#topnavbar2 > li.active{
  background: #e7e7e7;
}

#topnavbar2 > li.open{
  background: #e7e7e7;
}
/*DATATABLE ADDONS*/

.row_e{
  width: 100%;
  overflow-y: visible;
  max-height: 1px;
  position: relative;
}

.row_e_overlay{
  padding-bottom: 20px;
  z-index: 103;
  background: #FFF;
  position: relative;
}

.row_sc_i{
  width: 1710px;
  height: 1px;
}

.row_sc_cont{
  margin-right: 0;
  z-index: 100;
  position: sticky;
  margin-left: 10px;
  bottom: 36px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.row_sc{
 overflow-x: auto;
}

.img_footer{
  padding-left: 30px;
}



/* SCREEN OPTIONS*/

@media screen and (max-width: 1200px) {

  #nav_cont_2 > nav > div > div.navbar-header {
    min-width:230px !important;
  }

}

/*MOBILE WIDTH*/
@media screen and (max-width: 767px) {
  .navbar-collapse{
    border:0;
    width: 100%;
    overflow-x: hidden !important;
  }

  #sidebar{
    padding-right: 5px;
    padding-left: 5px;
    max-width: 100vw !important;
    padding-bottom: 10px;
    min-width: 100px;
    overflow-x: hidden;
  }

  .dataTables_paginate{
    left: 0;
  }

  .dataTables_filter{
    left: 0;
  }

  #mainpage > nav > div.container-fluid{
    flex-direction: column;
  }

  .row_i{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    position:relative;
    z-index: 103;
  }

  #nav_cont_2 > nav > div{
    justify-content: space-around;
  }

  #nav_cont_2 > nav > div > div.navbar-header {
    justify-content: flex-start;
    min-width: 100px !important;
  }

  #nav_cont_2 > nav > div > div.navbar-header > button {
    margin-left: 10px;
  }

  #overview_container > div.row{
    flex-direction: column;
  }

  #mainpage > nav > div.container-fluid{
    justify-content: flex-start;
  }

  #nav_cont_2 > nav > div > div.navbar-header > span.navbar-brand {
    padding-left: 0 ;
  }
  .navbar-nav .open .dropdown-menu{
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    float: left;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    margin: 2px 0 0;
    width:inherit;
  }

}
